trunk/src/org/kiwi/dictao/clients/dtss/DTSSInterfaceFrontEnd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.dictao.com/DTSS/Interface" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.dictao.com/DTSS/Interface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.dictao.com/DTSS/Interface">
			<s:element name="insertTimeStampEx">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="signature" type="tns:dataType" />
						<s:element minOccurs="0" maxOccurs="1" name="signatureParameter" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="pluginParameter" type="tns:ArrayOfPluginParameterStruct" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="dataEncoding">
				<s:restriction base="s:string">
					<s:enumeration value="gzEnc"/>
					<s:enumeration value="b64Enc"/>
					<s:enumeration value="gzb64Enc"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="dataType">
				<s:choice>
					<s:element name="value" type="tns:dataString"/>
					<s:element name="binaryValue" type="tns:dataBinary"/>
				</s:choice>        
			</s:complexType>
			<s:complexType name="dataString">
				<s:simpleContent>
					<s:extension base="s:string">
						<s:attribute name="dataFormat" type="tns:dataEncoding" use="optional"/>
					</s:extension>
				</s:simpleContent>
			</s:complexType>
			<s:complexType name="dataBinary">
				<s:simpleContent>
					<s:extension base="s:base64Binary">
						<s:attribute name="dataFormat" type="tns:dataEncoding" use="optional"/>
					</s:extension>
				</s:simpleContent>
			</s:complexType>
			<s:complexType name="ArrayOfPluginParameterStruct">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="PluginParameterStruct" nillable="true" type="tns:PluginParameterStruct" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="PluginParameterStruct">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Label" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Data" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="insertTimeStampExResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="insertTimeStampExResult" type="tns:DTSSResponseEx" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="DTSSResponseEx">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="opStatus" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="DTSSGlobalStatus" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DTSSArchiveId" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DTSSProof" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ExtendedSignature" type="tns:dataType" />
					<s:element minOccurs="0" maxOccurs="1" name="pluginResponse" type="tns:ArrayOfPluginResponseStruct" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="DTSSArchiveResponseEx">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="opStatus" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DTSSProof" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="pluginResponse" type="tns:ArrayOfPluginResponseStruct" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfPluginResponseStruct">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="PluginResponseStruct" nillable="true" type="tns:PluginResponseStruct" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="PluginResponseStruct">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Label" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Response" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="getArchiveEx">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="archiveId" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="pluginParameter" type="tns:ArrayOfPluginParameterStruct" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="getArchiveExResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="getArchiveExResult" type="tns:DTSSArchiveResponseEx" />
					</s:sequence>
				</s:complexType>
			</s:element>	  	  
		</s:schema>
	</wsdl:types>
	<wsdl:message name="insertTimeStampExSoapIn">
		<wsdl:part name="parameters" element="tns:insertTimeStampEx" />
	</wsdl:message>
	<wsdl:message name="insertTimeStampExSoapOut">
		<wsdl:part name="parameters" element="tns:insertTimeStampExResponse" />
	</wsdl:message>
	<wsdl:message name="getArchiveExSoapIn">
		<wsdl:part name="parameters" element="tns:getArchiveEx" />
	</wsdl:message>
	<wsdl:message name="getArchiveExSoapOut">
		<wsdl:part name="parameters" element="tns:getArchiveExResponse" />
	</wsdl:message>
	<wsdl:portType name="DTSSSoap">
		<wsdl:operation name="insertTimeStampEx">
			<wsdl:input message="tns:insertTimeStampExSoapIn" />
			<wsdl:output message="tns:insertTimeStampExSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="getArchiveEx">
			<wsdl:input message="tns:getArchiveExSoapIn" />
			<wsdl:output message="tns:getArchiveExSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DTSSSoap" type="tns:DTSSSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="insertTimeStampEx">
			<soap:operation soapAction="http://www.dictao.com/DTSS/Interface/insertTimeStampEx" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getArchiveEx">
			<soap:operation soapAction="http://www.dictao.com/DTSS/Interface/getArchiveEx" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DTSS">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Dictao Validation Server v4.7</documentation>
		<wsdl:port name="DTSSSoap" binding="tns:DTSSSoap">
			<soap:address location="http://www.dictao.com/DTSS/Soap" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
